@import 'tailwindcss';

@theme {
	--color-tri-bg: #000000;
	--color-tri-surface: #1a0000;
	--color-tri-border: #330000;
	--color-tri-accent: #dc2626;
	--color-tri-accent-light: #ef4444;
	--color-tri-green: #22c55e;
	--color-tri-red: #ef4444;
	--color-tri-yellow: #eab308;
	--color-tri-text: #ffffff;
	--color-tri-muted: #999999;
}
